<?xml version="1.0" encoding="utf-8"?>
<!-- Check http://radiodns1.ebu.ch/cms/ for description -->
<configuration>
  <appSettings>
    
    <add key="TmpFolder" value="data\tmp\" />
    <add key="DataFolder" value="data\" />
    <add key="debug" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <system.web>

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.2739" newVersion="1.5.1.2739" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
