<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CMConfiguration" type="io.ebu.eis.datastructures.CMConfigurationSection, io.ebu.eis.datastructures" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <CMConfiguration>

    <InputConfigurations>
      <InputConfiguration Type="HTTP" BindIp="localhost" BindPort="8080" />
    </InputConfigurations>

    <OutputConfiguration EnableDataDispatchMQ="false">
      <UploadConfigurations>
        <!-- ## Uncomment this UploadConfiguration section to start publishing ## -->
<UploadConfiguration Type="FTP"  FtpServer="ftp.server.ch" FtpUsername="username" FtpPassword="password" Subfolder="subfolder" PublicUriBase="http://public.server.ch/subfolder/">
  <DispatchConfigurations>
    <DispatchConfiguration Type="STOMP" StompUri="stomp:tcp://radio.ebu.io:61613" StompUsername="stomp_user" StompPassword="stomp_pwd" StompTopic="/topic/dab/4e1/ffff/ffff/0/" />
  </DispatchConfigurations>
</UploadConfiguration>
      </UploadConfigurations>

      <ImageOutputConfigurations>
        <ImageOutputConfiguration Name="DEFAULT" Width="320" Height="240" Encoder="JPEG" Quality="80" IsDefault="true" />
      </ImageOutputConfigurations>

    </OutputConfiguration>

    <ImageOutputConfigurations>
      <ImageOutputConfiguration Name="DEFAULT" Width="320" Height="240" Encoder="JPEG" Quality="80" IsDefault="true" />
    </ImageOutputConfigurations>

    <DataConfiguration DataFlowLeftActions="Cart;Context"
                       DataFlowRightActions="Context"
                       ImageFlowLeftActions="Template;BackgroundUrl;Context"
                       ImageFlowRightActions="BackgroundUrl"
                       InitialPictureFolder="C:\temp\generic_bg"
                       IncomingPictureFolder="C:\temp\content_images" >
    </DataConfiguration>

    <SlidesConfiguration TemplatePath="radio-generic\" DefaultLink="http://www.ebu.io" >
      <CartConfigurations>
        <CartConfiguration Name="MAIN CART" Active="true" ShowInCartList="true" >
          <Slides>
            <Slide Filename="logo.html" DefaultLink="http://www.ebu.io" DefaultText="DEMO RADIO, DemoSlide for RadioVIS" />
            <Slide Filename="show1.html" DefaultLink="http://www.ebu.io" DefaultText="Show Time, DemoSlide for RadioVIS" />
            <Slide Filename="cover-icecast.html" DefaultLink="http://www.ebu.io" DefaultText="Current Song, DemoSlide for RadioVIS" />
            <Slide Filename="weather.html" DefaultLink="http://www.ebu.io"  DefaultText="Weather in Geneva, DemoSlide for RadioVIS"
                   RegenerateOnPublish="true" ValidityPeriodSeconds="120" />
            <Slide Filename="webcam.html" DefaultLink="http://www.ebu.io"  DefaultText="Webcam in Geneva, DemoSlide for RadioVIS"
                   RegenerateOnPublish="true" ValidityPeriodSeconds="120" />
          </Slides>
        </CartConfiguration>

        <CartConfiguration Name="MUSIC ONLY" Active="false" ShowInCartList="true" >
          <Slides>
            <Slide Filename="cover-icecast.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
            <Slide Filename="logo.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
          </Slides>
        </CartConfiguration>

        <CartConfiguration Name="ALL" EditorDefault="true" >
          <Slides>
            <Slide Filename="logo.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
            <Slide Filename="show1.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
            <Slide Filename="cover.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
            <Slide Filename="cover-icecast.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
            <Slide Filename="weather.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
            <Slide Filename="webcam.html" DefaultLink="http://www.ebu.io" DefaultText="DemoSlide for RadioVIS" />
          </Slides>
        </CartConfiguration>
      </CartConfigurations>
    </SlidesConfiguration>


  </CMConfiguration>


  <!-- Don't change anything below this line -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.2739" newVersion="1.5.1.2739" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>